body {
    font-family: 'Arvo', serif;
    background-color: rgb(65, 49, 40);
    ;
}

.sunset {
    background-color: rgb(65, 49, 40);
}

.quote {
    color: rgba(230, 145, 90, 1);
}
.quotecarol{
    color: rgba(238, 238, 238, 1);
    text-align: center;
}

.a {
    font-size: 4 rem;
}
.carol{
    padding: 7% 15%;
    text-align: center;
  }
  .carol2{
    padding: 7% 15%;
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .social-icon{
    margin: 20px 15px;
    color: rgba(230, 145, 90, 1);
  }
.social-icon:hover{
  color: rgba(238, 238, 238, 1);
}


@media screen and (max-width: 300px) {
.navbar-brand{
  font-size: 1rem;
}
.quote{
  font-size: 1rem;
}
}


@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

   
}

@media screen and (min-width: 1200px) {

}