/* Coolors Exported Palette - coolors.co/c4867c-e6915a-f6d384-837453-705647 */

/* HSL */
$color1: hsla(8%, 38%, 63%, 1);
$color2: hsla(24%, 74%, 63%, 1);
$color3: hsla(42%, 86%, 74%, 1);
$color4: hsla(41%, 22%, 42%, 1);
$color5: hsla(22%, 22%, 36%, 1);

/* RGB */
$color1: rgba(196, 134, 124, 1);
$color2: rgba(230, 145, 90, 1);
$color3: rgba(246, 211, 132, 1);
$color4: rgba(131, 116, 83, 1);
$color5: rgb(65, 49, 40);